.likeButtonClass{
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
} */

.dislikebutton{
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
}

.active{
    background-color:green;
    fill:white;
    border-color:green;
    border-radius:25px;
}

.inactive{
    color: black;
    border-radius: 25px;
    border-color:white;
}

.likeButtonClass{
    margin-right: 170px;
}