
div header {
    background-color: white;
    box-shadow: 3px 3px 7px lightgray;
    border-style: none;
    padding: 1rem;

}

.border-box {
    background-color:white;
    margin:2rem;
    box-shadow: 4px 4px 8px grey;
    border-radius: 25px;
    padding: 20px;

}
ul {
    list-style-type: none;
}

.create-button {
    margin-top: 1rem;
    border-radius: 25px;
    border-style: none;
    color: white;
    background-color:#1867AB;
    width: 7rem;
}

.page {
    background-color:#E2F2EE;
}